<div>
   <% if @current_user != nil %>
   <form action="/insert_comic" method="post" enctype="multipart/form-data">

        <div>
          <label for="photo-input">
            Comic
          </label>
          <input id="photo-input" type="file" name="photo" placeholder="Enter a URL for the comic...">

          <label for="caption_box">
            Caption
          </label>
          <input type="hidden" id="owner_id_box" name="query_owner_id">
          <textarea id="caption_box" name="query_caption" rows="3" placeholder="Enter a caption for the comic..."></textarea>
          <button>
            Add Comic
          </button>
        </div>
    </form>
    <% end %>
</div>

  
<hr>
<div>
  <div class="table">
   
        <th>
        </th>
      </tr>

      <% @list_of_comics.each do |a_comic| %>
      <tr>
        <td>
          <%= a_comic.id %>
        </td>

        <td>
          <%= a_comic.title %>
        </td>

        <td>
          <%= a_comic.owner_id %>
        </td>

        <td>
        <img src="<%= a_comic.photo %>" class="img-responsive" width="30%">
        </td>

        <td>
          <%= a_comic.caption %>
        </td>

        <td>
          <%= a_comic.likes_count %>
        </td>

        <td>
          <%= a_comic.comments_count %>
        </td>

        <td>
          <%= a_comic.shares_count %>
        </td>

       </div>
       <%= render "shared/share" %>
       </div>

        <td>
          <a href="/comics/<%= a_comic.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
 
  </div>
</div>
