<% if @current_user != nil %>
  <div class="row">
    <div class="offset-md-3 col-md-6">

      <form action="/insert_comic" method="post" enctype="multipart/form-data">

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @current_user.id %>">

        <div class="mb-3">
          <label for="photo-input" class="form-label">
            Comic
          </label>

          <input id="photo-input" type="file" name="photo" placeholder="Enter a URL for the comic..." class="form-control">
        </div>

        <div class="mb-3">
          <label for="caption_box" class="form-label">
            Caption
          </label>

          <textarea id="caption_box" name="query_caption" rows="3" placeholder="Enter a caption for the comic..."  class="form-control"></textarea>
        </div>

        <div class="d-grid">
          <button class="btn btn-outline-primary">

            <i class="fa-solid fa-camera fa-fw"></i>

            Add Comic
          </button>
        </div>
      </form>
    </div>
  </div>
<% end %>

<hr>

<% @list_of_comics.each do |comic| %>
  <div class="row mb-5">
    <div class="offset-md-3 col-md-6">
      <div class="card">
        <img src="<%= comic.photo %>" class="card-img-top">
        <div class="card-body">
          <p class="card-text">
            <%= comic.caption %>
          </p>

          <p class="text-muted">
            <%= time_ago_in_words(comic.created_at) %> ago
          </p>
        </div>

        <div class="card-footer">
          <div class="row py-2 d-flex align-items-center text-center">
            <div class="col">
              <a href="/comics/<%= comic.id %>" class="btn btn-outline-primary">
                <%= comic.likes_count %> likes
              </a>
            </div>

            <div class="col">
              <a href="/comics/<%= comic.id %>" class="btn btn-outline-primary">
                <%= comic.comments_count %> comments
              </a>
            </div>

            <div class="col" class="btn btn-outline-primary">
             <%= render "shared/share" %>
            </div>

            <div class="col">
              <a href="/comics/<%= comic.id %>" class="btn btn-outline-primary">
                Edit
              </a>
            </div>

             <div class="col">
              <a href="/delete_comic/<%= comic.id %>" class="btn btn-outline-primary">
                Delete comic
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
