
  <div class="row mb-5">
    <div class="offset-md-3 col-md-6">
      <div class="card">
        <img src="<%= @the_comic.photo %>" class="card-img-top">
        <div class="card-body">
          <p class="card-text">
            <%=  @the_comic.caption %>
          </p>

          <p class="text-muted">
            <%= time_ago_in_words( @the_comic.created_at) %> ago
          </p>
        </div>

        <div class="card-footer">
          <div class="row py-2 d-flex align-items-center text-center">
            <div class="col" >

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            <div class="col">
              <a href="/comics/" class="btn btn-outline-primary">
                Go back
              </a>
            </div>


            <div class="col">
              <a href="/delete_comic/<%= @the_comic.id %>" class="btn btn-outline-primary">
                Delete comic
              </a>
            </div>

  
   

<hr>


<div>
  <div>
    <p>
      Leave a comment with your thoughts
    </p>

    <form action="/modify_comic/<%= @the_comic.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_comic.title %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_comic.owner_id %>">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo" value="<%= @the_comic.photo %>">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" value="<%= @the_comic.caption %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_comic.likes_count %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_comic.comments_count %>">
      </div>

      <div>
        <label for="shares_count_box">
          Shares count
        </label>

        <input type="text" id="shares_count_box" name="query_shares_count" value="<%= @the_comic.shares_count %>">
      </div>

      <button>
        Comment
      </button>
    </form>
  </div>
</div>

<hr>
